@import 'settings';

header {
  display: flex;
  height: 75px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 3rem;
  ul {
    display: flex;
    flex: 1;
    list-style: none;
    text-align: left;
    padding: 0;
    li {
      margin-right: 1.25rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  a {
    color: $off-black;
    &:hover {
      text-decoration: none;
      color: $pink;
      // border-bottom: 3px solid $pink;
    }
  }
  .site-header__logo {
    font-family: 'Agipo Mono';
    font-style: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
    flex: 1;
    text-align: center;
  }
  .active-nav {
    color: $pink;
    border-bottom: 3px solid $pink;
  }
  .site-header__icons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    .social-icon {
      margin-right: .75rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
    .icon {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      margin-bottom: 0;
      a {
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}

@media screen and (max-width: 60em) {
  header {
    justify-content: space-between;
    ul, .site-header__logo, .site-header__icons {
      flex: none;
    }
  }
}

@media screen and (max-width: 40em) {
  header {
    display: block;
    ul, .site-header__icons {
      justify-content: center;
    }
  }
}
