@charset "utf-8";
@import 'settings';

.container {
  .section-episode {
    .section-episode__description {
      .section-episode__number {
        margin-bottom: 0;
        color: rgba(0,0,0,.5);
      }
      h3 {
        text-transform: uppercase;
        color: $dark-black;
        margin-top: 0;
      }
    }
  }
  .section-episode__image {
    width: 25%;
    img {
      width: 100%;
      border-radius: 1em;
    }
  }
}

.row {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.episode-directory {
  .episode {
    width: 30%;
  }
  .episode__description {
    .episode__number {
      margin-bottom: 0;
      color: rgba(0,0,0,.5);
    }
    h3 {
      text-transform: uppercase;
      color: $dark-black;
      margin-top: 0;
    }
  }
  .episode__image {
    width: 250px;
    img {
      width: 100%;
      border-radius: 1em;
    }
  }
}

.episode-directory__header {
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 2em;
}

// individual episode page
.episode-container {
  max-width: 60em;
  margin: 0 auto;
  margin-top: 4em;
}

.episode__metadata {
  display: flex;
  justify-content: center;
  .tagline {
    max-width: 55%;
    margin-right: 3.5em;
  }
  .section-episode__image {
    width: 40%
  }
}

.episode__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 5em 0;
}

.episode__highlights {
  max-width: 50%;
  margin-right: 3.5em;
}

.episode__show-notes {
  padding: 4rem;
  z-index: 3;
}