@charset "utf-8";
@import 'settings';

.container {
  .section-episode {
    .section-episode__description {
      .section-episode__number {
        margin-bottom: 0;
        color: rgba(0,0,0,.5);
      }
      h3 {
        text-transform: uppercase;
        color: $dark-black;
        margin-top: 0;
      }
    }
  }
  .section-episode__image {
    width: 25%;
    img {
      width: 100%;
      border-radius: 1em;
    }
  }
}

.row {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.episode-directory {
  .episode {
    width: 30%;
  }
  .episode__description {
    .episode__number {
      margin-bottom: 0;
      color: rgba(0,0,0,.5);
    }
    h3 {
      text-transform: uppercase;
      color: $dark-black;
      margin-top: 0;
    }
  }
  .episode__image {
    width: 250px;
    img {
      width: 100%;
      border-radius: 1em;
    }
  }
}

.episode-directory__header {
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 2em;
}

// to delete
.episode-details {
  max-width: 100%;
  width: 40rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  p, ul {
    border-bottom: 1px solid $gray;
  }
}

.episode-description {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.episode-label {
  border: 2px solid $pink;
  padding: 5px 10px;
  border-radius: 3px;
  color: $pink;
}

.back-to-episodes {
  margin: 2rem 0;
  a {
    color: $pink;
    font-weight: bold;
    border-bottom: 3px solid $pink;
    &:hover {
      text-decoration: none;
      color: $off-black;
      border-bottom-color: $off-black;
    }
  }
}

.show-notes {
  margin-top: 2rem;
}

@media screen and (max-width: 760px) {
  .episode-details {
    padding: 0 2rem;;
    width: auto;
  }
}