<footer class="site-footer">
  <div class="social-icon">
    <a href="https://www.instagram.com/sweetandsourfm/" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/stylesheets/def.svg#icon-instagram"></use></svg></a>
  </div>

  <div class="social-icon">
    <a href="https://twitter.com/sweetandsourfm" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/stylesheets/def.svg#icon-twitter"></use></svg></a>
  </div>

<div class="social-icon">
    <a href="https://www.facebook.com/sweetandsourfm/" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/stylesheets/def.svg#icon-facebook-square"></use></svg></a>
  </div>

  <div class="social-icon">
    <a href="http://tinyletter.com/sweetandsour" target="_blank"><svg class="icon icon-envelope"><use xlink:href="/stylesheets/def.svg#icon-envelope"></use></svg></a>
  </div>
</footer>