<div class="newsletter-signup">
  <h1>Our newsletter is <span>cute</span>.</h1>
  <div id="mailchimp">
    <form action="https://sweetandsour.us12.list-manage.com/subscribe/post?u=7d192c88598073e7aefdb612e&amp;id=bd915cff5e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" size="30">
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div class="clear">
        <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </form>
  </div>
</div>