---
layout: layout
title: about | sweet and sour
---
<header class="site-header">
  <p><a href="/about" class="active-nav">about</a></p>
  <p><a href="/episodes">episodes</a></p>
</header>
<div class="about">
  <h2>About</h2>
  <p>Sweet and Sour is a podcast dedicated to capturing the common threads and the nuance of the Asian American experience. In our episodes, we'll discuss topics such as activism, education, relationships, food, family, media representation, language, Asian Americans' relation to other minorities, etc. Expect 15-25 minute episodes every two weeks.</p>
  <div class="img">
    <img src="images/about.jpg" />
  </div>
  <p>Sweet and Sour is made by <a href="https://twitter.com/ktzhu" target="_blank">katie zhu</a> and <a href="https://twitter.com/nicolelzhu" target="_bank">Nicole Zhu</a>, two sisters living on opposite coasts.</p>
  <p>Tweet at us <a href="https://twitter.com/sweetandsourfm" target="_blank">@sweetandsourfm</a> and <a href="http://tinyletter.com/sweetandsour" target="_blank">subscribe to our newsletter</a> for show notes and updates!</p>
</div>