---
layout: layout
title: about | sweet and sour
---

<div class="container about-container">
  <div class="tagline">
    <h1>About</h1>
    <p>Sweet and Sour is a media lifestyle company for Asian women that affirms who we are and who we want to be in American society.</p> 
    <p>Founded on the belief that mainstream narratives do not encompass or reflect the breadth of the Asian Americna experience, Sweet and Sour highlights voices, experiences, and perspectives of Asian Americans who do dope shit.</p>
    <p>We're interested in partnering with brands and companies passionate about increasing the visibility of Asian Americans across industries.</p>
    <div class="tagline__links">
      <p class="btn"><a href="mailto:hi@sweetandsour.fm">Email us</a></p>
    </div>
  </div>
  <svg class="logo" viewBox="0 0 100 100" width="25%">
    <image x="0" y="0" height="100" width="100" xlink:href="images/newlogo.png" />
  </svg>
</div>
<div class="edge--top--reverse">
  <div class="section">
    <hr class="hr-text" data-content="Our Values" />
    <p>Some values</p>
  </div>
  <div class="section">
    <hr class="hr-text" data-content="Subscribe and Listen" />
    <p>Sweet and Sour is in the <a href="https://itunes.apple.com/us/podcast/sweet-and-sour/id1189796866">iTunes podcast store</a>, <a href="https://play.google.com/music/listen?u=0#/ps/Idwrld5ktidtrjfpra7anyodu2y">Google Play</a>, <a href="https://www.stitcher.com/podcast/sweet-and-sour?refid=stpr">Stitcher</a>, <a href="https://t.co/Te5BHLMKpR">Pocket Casts</a>, <a href="https://overcast.fm/itunes1189796866/sweet-and-sour">Overcast</a>, and <a href="http://sweetandsour.fm/feed/episodes.rss">wherever</a> you listen to podcasts! Subscribe now and leave a nice review!</p>
  </div>
  <div class="section">
    <hr class="hr-text" data-content="Contact">
    <p>Tweet at us <a href="https://twitter.com/sweetandsourfm">@sweetandsourfm</a>, email us <a href="mailto:hi@sweetandsour.fm">hi@sweetandsour.fm</a>, and <a href="http://eepurl.com/dp2wXf">subscribe to our newsletter</a> for show notes and updates!</p>
  </div>
</div>