---
layout: layout
title: NBN Year in Media 2015
---
<div class="container">
	<div class="intro">
	    <a href="http://www.northbynorthwestern.com/" target="_blank"><p>North by Northwestern</p></a>
	    <a href="http://apps.northbynorthwestern.com/year-in-media/2015/" target="_blank"><span>Year in Media 2015</span></a>
	</div>

	<% data.entry.results.each do |e| %>
		<% story_link = "\"/yim15/story/#{e.slug}/\"" %>
		<a href= <%= story_link %> >
		<div class="grid-entry grid-col-3 color1">
			<div class="entry-content">
				<p class="entry-section"><%= e.topic %></p>
				<p class="entry-subject"><%= e.subject %></p>
				<p class="entry-author"><%= e.author %></p>
			</div>
		</div>
		</a>
    <% end %>

	<div class="footer">
		<p>Design and Development by Nicole Zhu / <a href="http://www.northbynorthwestern.com/" target="_blank">North by Northwestern</a></p>
	</div>
</div>