---
layout: layout
title: sweet and sour
---
<div class="container">
  <div class="tagline">
    <h1>A podcast about being an Asian woman in America</h1>
    <p>Founded on the belief that mainstream narratives do not encompass or reflect the breadth of the Asian American experience, Sweet and Sour highlights voices, experiences, and perspectives of Asian Americans who do dope shit.</p>
    <p>We discuss culture, race, identity, who we are and who we want to be. Subscribe today.</p>
    <div class="tagline__links">
      <p class="btn"><a href="https://itunes.apple.com/us/podcast/sweet-and-sour/id1189796866">Subscribe</a></p>
      <p class="btn">Take a listen TK</p>
    </div>
  </div>
  <svg class="logo" viewBox="0 0 100 100" width="25%">
    <image x="0" y="0" height="100" width="100" xlink:href="images/newlogo.png" />
  </svg>
</div>
<div class="edge--top--reverse">
  <div class="section">
    <hr class="hr-text" data-content="Meet your hosts" />
    <div class="host-bios">
      <div class="host-bio">
        <div class="host-img">
          <img src="images/katie.jpg" />
        </div>
        <p><strong>Katie Zhu</strong> is an illustrator, writer, and podcaster based in Oakland. She's the sour one.</p>
      </div>
      <div class="host-bio">
        <div class="host-img">
          <img src="images/nicole.jpg" />
        </div>
        <p><strong>Nicole Zhu</strong> is an engineer, writer, and podcaster based in New York City. She's the sweet one.</p>
      </div>
    </div>
  </div>
  <div class="section">
    <hr class="hr-text" data-content="Latest episode" />
    <div class="section-episode">
      <div class="section-episode__description">
        <p class="section-episode__number">S01E01</p>
        <h3>The Contradictions of Being Asian American</h3>
        <p>For our first episode, katie and Nicole discuss their Chinese to American ratio with their parents, Jiming and Li, who also shared their perspective on raising kids in America. katie and Nicole discuss the contradictions of being Asian American, both as a model minority and persistent other. The Book and Essay Club kicks off with Erika Lee's "The Making of Asian America." On Hella Asian, Nicole investigates the ubiquity of the Danish cookie tins.</p>
      </div>
      <div class="section-episode__image">
        <img src="images/episodes/1.jpg" />
      </div>
    </div>
  </div>
  <div class="section">
    <hr class="hr-text" data-content="Find us on Instagram @sweetandsour" />
    <%= partial "partials/instagram" %>
  </div>
</div>