---
layout: layout
title: sweet and sour
---
<header class="site-header">
  <p><a href="/about">About</a></p>
  <p><a href="/episodes">Episodes</a></p>
</header>
<div class="container">
  <svg class="logo" viewBox="0 0 100 100" width="30%">
    <image x="0" y="0" height="100" width="100" xlink:href="images/s&s-s2.gif" />
  </svg>
  <div class="tagline">
    <p>Sweet and Sour is a podcast about being Asian in America. Co-hosted by two sisters <a href="https://twitter.com/ktzhu">katie</a> and <a href="https://twitter.com/nicolelzhu">Nicole</a>, the show covers the intersections of our identity with culture, work, and lifestyle.</p>
  </div>
  <p class="btn"><a href="https://itunes.apple.com/us/podcast/sweet-and-sour/id1189796866">Subscribe</a></p>
</div>