---
layout: layout
title: sweet and sour
---
<header class="site-header">
  <p><a href="/about">about</a></p>
  <p><a href="/episodes">episodes</a></p>
</header>
<div class="container">
  <svg class="logo" viewBox="0 0 100 100" width="25%">
    <image x="0" y="0" height="100" width="100" xlink:href="images/logo.svg" />
  </svg>
  <div class="tagline">
    <p>a podcast by <a href="https://twitter.com/ktzhu" target="_blank">katie zhu</a> and <a href="https://twitter.com/nicolelzhu" target="_blank">nicole zhu</a> </p>
    <p>exploring different facets of This Asian American Life</p>
  </div>
  <p class="btn"><a href="http://tinyletter.com/sweetandsour" target="_blank">subscribe for updates</a></p>
</div>